/* common
****************************************************/
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #101110;
}
a {
    text-decoration: none;
    color: #101110;
    cursor: pointer;
}
button {
    cursor: pointer;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.grey-icon {
    color: #9fa09f;
}
.grey {
    color: #6d6e6d;
}
.pull-right {
    float: right
}
.pull-left {
    float: left
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.badge {
    background: #e6bc26;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 1px 2px;
    margin-right: 6px;
}
h3 {
    font-size: 15px;
}
.on {
    background: #dbdcdb;
    color: #fe0001;
}
button {
    background: none;
    border: none;
}
/* header
****************************************************/
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 56px;
    background: #fff;
    font-size: 28px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}
header .header-menu.left {
    line-height: 56px;
    padding-left: 24px;
}
header .header-menu.left button {
    padding: 0;
    border: 0;
    vertical-align: middle;
}
header .header-menu.left a {
    vertical-align: middle;
}
header .header-menu.left a img {
    padding-left: 20px;
    width: 80px;
}
header .header-menu.middle {
    position: relative;
    max-width: 650px;
    display: inline-block;
    padding: 13px 0;
}
header .header-menu.middle .keyboard {
    position: absolute;
    right: 70px;
    top: 16px;
    color: #606160;
}
header .header-menu.middle input {
    padding: 0 5px;
    width: 574px;
    height: 28px;
    font-size: 16px;
    float: left;
    border: 1px solid #cbcccb;
    font-weight: 200;
}
header .header-menu.middle button {
    margin-left: -1px;
    width: 65px;
    height: 30px;
    float: right;
    background: #f6f7f6;
    border: 1px solid #cbcccb;
}
header .header-menu.middle button i {
    color: #7f807f;
    font-size: 21px;
    padding-top: 3px;
}
header .header-menu.right {
    padding-right: 24px;
    line-height: 56px;
}
header .header-menu.right button {
    vertical-align: middle;
    padding: 0 10px;
    color: #9fa09f;
}
header .header-menu.right .menu-video {
    display: none;
    padding: 5px 0px;
    position: absolute;
    width: 210px;
    height: 96px;
    font-size: 14px;
    background: #fff;
    right: 74px;
    text-align: left;
    top: 48px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
header .header-menu.right .menu-video li {
    line-height: 47px;
}
header .header-menu.right .menu-video li:hover {
    background: #f4f5f4;
}
header .header-menu.right .menu-video li i {
    vertical-align: middle;
    padding-left: 20px;
} 
header .header-menu.right .menu-video li a {
    vertical-align: middle;
    font-size: 14px;
    padding-left: 20px;
    color: #101100;
}
header .header-menu.right i.search {
    display: none;
}
header .header-menu.right a {
    font-size: 13px;
    color: #2793e5;
    vertical-align: middle;
    padding: 0 10px;
}


/* nav
****************************************************/
nav {
    position: absolute;
    left: 0;
    width: 240px;
    height: 100%;
    background: #f4f5f4;
    float: left;
    overflow: scroll;
    z-index: 1;
}
nav > div:first-child {
    margin-top: 56px;
}
nav .row {
    padding: 10px 0;
    border-bottom: 1px solid #edeeed;
    overflow: hidden;
}
nav .row h3 {
    padding: 0 30px;
    font-weight: 700;
    color: #6b6c6b;
    margin: 10px 0;
}
nav .row ul li{
    padding: 8px 30px;
}
nav .row ul li:hover {
    background: #eaebea;
}
nav .row ul li i,
nav .row ul li a {
    vertical-align: middle;
}
nav .row ul li a{
    color: #101110;
    margin-left: 30px;
}
nav .row.login {
    padding: 14px 30px;
    line-height: 20px;
}
nav .row.login a {
    display: inline-block;
    padding-top: 6px;
    font-size: 13px;
    padding-bottom: 10px;
    color: #2793e5;
}
nav .row .link {
    padding: 10px 30px;
    line-height: 20px;
}
nav .row .link a {
    font-size: 13px;
    padding-right: 5px;
    display: inline-block;
    color: #878887;
    font-weight: 600;

}
nav .row .copyright {
    display: inline-block;
    padding: 0 30px;
    color: #6b6c6b;
    font-size: 13px;
    padding-top: 36px;
    padding-bottom: 15px;
    font-weight: 700;
}

/* content
****************************************************/
content {
    position: absolute;
    right: 0;
    left: 240px;
    height: 100%;
    background: #f9faf9;
    overflow: scroll;
    text-align: center;
}
content section {
    display: inline-block;
    width: 1284px;
    height: 275px;
    overflow: hidden;
    /* background: purple; */
}
content section.video {
    margin-bottom: 15px;
    border-bottom: 1px solid #d8d9d8;
}
content section .section-title {
    text-align: left;
    line-height: 35px;
    margin-bottom: 12px;
}
content section .section-title h3,
content section .section-title img,
content section .section-title span {
    vertical-align: middle;
}
content section .section-title h3 {
    padding-right: 3px;
    display: inline-block;
    /* width: 1280px; */
    /* text-align: left; */
    /* margin: 0 auto 20px auto; */
    font-weight: 700;
}
content section .section-title img{
    padding-right: 8px;
    width: 32px;
}
content section .section-title span {
    color: #9c9d9c;
    font-size: 13px;
}
content section .section-title button {
    width: 70px;
    height: 40px;
    color: #fff;
    background: #fe0001;
    border-radius: 2px;
    font-size: 14px;
    border: 0;
}
content .promo {
    /* display: inline-block; */
    margin-top: 80px;
}
content section .box1 {
    float: left;
    width: 850px;
    overflow: hidden;
}
content section .box2 {
    text-align: left;
    float: left;
    margin: 13px 0 0 20px;
}
content section .box2 img {
    width: 100px;
    float: left;
    border-radius: 50%;
}
content section .box2 .text {
    float: left;
    padding: 10px 20px;
}
content section .box2 .text .title {
    font-size: 14px;
    font-weight: 500;
}
content section .box2 .text .name {
    padding: 8px 0;
    color: #6d6e6d;
}
content section .box2 .text button {
    width: 130px;
    height: 40px;
    background-color: #2793e5;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
}
content section .box2 i {
    padding-left: 100px;
    color: #9c9d9c;
}
content section .box3 {
    display: inline-block;
    margin-top: 16px;
    float: left;
    margin-left: 10px;
}
content section .item {
    width: 210px;
    height: 228px;
    /* background: peru; */
    text-align: left;
    float: left;
    padding-right: 4px;
}
content section .item .title {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
}
content section .item .view {
    margin-top: 3px;
}

/* responsive
****************************************************/

@media (min-width: 1600px) {
    
}
@media (min-width: 1390px) and (max-width: 1599px) {
    content section {
        width: 1070px;
    }
    content .promo .box1 {
        width: 600px;
    }
}
@media (min-width: 1280px) and (max-width: 1389px) {
    content section {
        width: 856px;
    }
    content .promo .box1 {
        width: 420px;
    }
}
@media (max-width: 1279px) {
    header .header-menu.middle input {
        width: 400px;
    }
    nav {
        display: none;
    }
    content {
        left: 0;
    }
    content section {
        width: 1070px;
    }
    content .promo .box1 {
        width: 600px;
    }
}
@media (min-width: 875px) and (max-width: 1089px) {
    header .header-menu.middle input {
        width: 300px;
    }
    content section {
        width: 856px;
    }
    content .promo .box1 {
        width: 420px;
    }
}
@media (min-width: 600px) and (max-width: 874px) {
    
    header .header-menu.middle {
        display: none;
    }
    header .header-menu.right i.search {
        display: inline-block;
    }
    content section {
        width: 642px;
    }
    content .promo .box1 {
        width: 300px;
    }
    content .promo .box2 img {
        display: none;
    }
    content .promo .box3 {
        display: none;
    }
}
@media (max-width: 599px) {
    header .header-menu.middle {
        display: none;
    }
    header .header-menu.right i.search {
        display: inline-block;
    }
    content section {
        width: 428px;
    }
    content .promo .box2 {
        display: none;
    }
    content .promo .box3 {
        display: none;
    }
}